body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.card h3 {
  margin: 6px 0;
}

/* BADGE */
.badge {
  display: inline-block;
  background: #e8f5e9;
  color: #2e7d32;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 8px;
  width: fit-content;
}

/* BUTTONS */
.btn-group {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.btn {
  padding: 8px 12px;
  background: #000;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
}

.btn-outline {
  padding: 8px 12px;
  background: white;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
.btn-outline:hover{
    background-color: black;
    color: white;
}

/* HERO SECTION */
.hero {
  position: relative;
  margin-bottom: 50px;
  border-radius: 16px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 60px;
  margin: 0;
}

.card-price{
    margin-bottom: 10px;
    margin-left: 10px;
    width: 70px;
}
.hero-text p {
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-img {
    height: 220px;
  }

  .hero-text h1 {
    font-size: 28px;
  }
}
